body {
  font-family: "Roboto", sans-serif;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-width: 100%;
  z-index: -100;
}
header {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: right;
  width: 100%;
  padding-bottom: 8px;
}

.dark header {
  border-bottom: 3px solid whitesmoke;
  display: flex;
  justify-content: right;
  width: 100%;
  padding-bottom: 8px;
}

form {
  width: 40%;
  display: flex;
  align-content: center;
  gap: 0px;
}

input[type="text"]:focus {
  background-color: #f0eef3;
}

input[type="text"]:autofill {
  background-color: #f0eef3;
}

.dark input[type="text"]:focus {
  background-color: #f0eef354;
  border: 3px solid yellowgreen;
}
button {
  background: #5d11cf00;
  font-size: 20px;
  color: black;
  position: absolute;
  right: 20px;
  top: 8px;
  height: 52px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 6px;
  transition: all 200ms ease;
}

button:hover {
  background-color: #f0eef3;
}

.dark button {
  background: #f0eef354;
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  right: 20px;
  top: 8px;
  height: 52px;
  padding: 5px;
  border: 3px solid whitesmoke;
  border-radius: 6px;
  transition: all 200ms ease;
}
h1 {
  font-size: 100px;
  font-weight: bolder;
  margin: 0px 20px;
  text-align: center;
}
main {
  display: flex;
  align-content: start;
  margin: 50px 50px;
  background-color: #f0eef3d2;
  border-radius: 6px;
}

ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.575);
  padding-left: 20px;
  margin-right: 20px;
}

.dark main {
  display: flex;
  align-content: start;
  margin: 50px 50px;
  background-color: #f0eef354;
  border-radius: 6px;
  color: whitesmoke;
}

footer {
  border-top: 3px solid black;
  text-align: center;
  color: black;
  width: 100%;
}

.dark footer {
  border-top: 3px solid whitesmoke;
  text-align: center;
  color: whitesmoke;
  width: 100%;
}
.currentCity {
  margin: 40px 40px;
  width: 30%;
}
.currentIcon {
  font-size: 100px;
  font-weight: bolder;
}

.weather-app-icon {
  width: 100px;
  height: 100px;
}

.currentTemp {
  font-size: 80px;
  font-weight: bolder;
  width: 100px;
  height: 100px;
}

.currentCityDetails {
  border-left: 3px solid black;
  width: 30%;
  font-size: 20px;
  padding-left: 20px;
}

.tempDetails {
  font-size: 40px;
}

#search-form-input {
  background-color: #f0eef3;
  width: 90%;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0px;
  border: 3px solid black;
  border-radius: 6px;
}

.dark #search-form-input {
  background-color: #f0eef354;
  width: 90%;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0px;
  border: 3px solid whitesmoke;
  border-radius: 6px;
  color: whitesmoke;
}

#search-form-button {
  background-color: #f0eef3;
  border: none;
  font-size: 20px;
  color: black;
  position: absolute;
  right: 80px;
  top: 12px;
  height: 40px;
}

.dark #search-form-button {
  background-color: #f0eef300;
  border: none;
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  right: 80px;
  top: 12px;
  height: 40px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
}

.weather-forecast-day {
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  color: black;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 20px;
  font-weight: bold;
}

.dark .weather-forecast-date {
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 10px;
  font-weight: bold;
}

.weather-forecast-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  padding: 0px 50px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.dark .weather-forecast-temperatures {
  text-align: center;
  color: whitesmoke;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 50px;
}
